*{
    padding: 0px;
    margin: 0px;
}
.admin-login{
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 10px;
    

}
.login-form{
    height: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button{
    width: 30%;
    float: right;
}