
<div class="text-center text-white">
    <div class="card-header bg-primary">
        .
    </div>
    <div class="card-body bg-dark">
        
        <div class="col item social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-google"></i></a>

        </div>

    </div>
    <div class="card-footer text-light bg-primary">
        Copyright @ 2022 Anilraj
    </div>
</div>